img {
    display: block;
    margin: auto;
    width: 50%;
}

#title{
	color: white;
	background-color: black;
	font-family: arial;
	font-size: 15pt;
	text-align: center;
	margin-bottom: 20px;
}

#keyWordSearch{
	margin: auto;
	width: 31%;
    padding: 10px;
}

#keyWord{
	width: 282px;
	height: 24px;
	font-size: 15px;
	font-family: Arial, sans-serif;
	color: black;
	border: 1px solid black;
	border-radius: 2px;
	margin:10px 5px;
}

#submit{
	height: 26px;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	color: black;
	border: 1px solid black;
	background: white;
	border-radius: 2px;
	margin:10px 5px 10px 0;
}

h1{
	font-family: arial;
	color: black;
}

p{
	font-family: arial;
	color: black;
}

